.for_form_create_order{
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
}
.form-group{
    margin-top: 1.5rem;
}

.button_enter_cr_or{
    width: 100%;
    margin-top: 1rem;
}
.span_file{
    margin-left: 12%;
    width: 100%;
}
