.head {
    margin-top: 70px;
}

.card_order {
    margin-top: 125px;
    margin-left: 28%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 45%;
    max-width: 100%;
    min-height: 80px;
    margin-bottom: 115px;
    text-align: center;
}

.for_info_order{
    text-align: left;
    margin-left: 15%;
    font-size: 25px;
}

.button_order{
    margin-bottom: 15px;
}

.img_order {
    width: 100%;
    border-radius: 10px;
}